body{
    background-color: #91C8E4;
}

.navbar-atas{
    background-color: black;
}

.informasi{
    margin-top: 20px;
    margin-bottom: 20px;
}

.deskripsi, .jenis{
    font-size: 16.5px;
    text-align: justify;
    padding: 15px;
}

.deskripsi{
    width: 100%;
}

.jenis{
    width: 100%;
}


h5{
    font-weight: bold;
}

.header{
   font-weight: bold;
   font-style: italic;
}

.gambar-kucing{
    width: 12cm;
    height: 500px;
    object-fit: contain;

}

.gambar-design{
    width: 500px;
    height: 260px;
    object-fit:cover;
}

.kotak{
    max-width: 900px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}
